<div class="chart-container">
  <div style="text-align: center">
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [xaxis]="chartOptions.xaxis!"
      [yaxis]="chartOptions.yaxis!"
      [plotOptions]="chartOptions.plotOptions!"
      [theme]="chartOptions.theme!"
      [tooltip]="chartOptions.tooltip!"
      [legend]="chartOptions.legend!"
    ></apx-chart>
  </div>
</div>
