<h2>Vote for the Game of the Year</h2>
<hr />

<div class="text-center" *ngIf="!games">
  <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="row" *ngIf="games">
  <div class="col">
    <div class="card-columns">
      <div class="card bg-dark" *ngFor="let game of games">
        <img [src]="game.url" class="card-img-top" [alt]="game.name" />
        <div class="card-body">
          <h5 class="card-title">{{ game.name }}</h5>
          <p class="card-text">Click to give a vote</p>
          <button
            class="btn btn-block btn-outline-primary"
            (click)="vote(game)"
          >
            Vote
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
