<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">
    <img
      src="assets/angular-logo.png"
      width="30"
      height="30"
      alt="angular-logo"
    />
  </a>
  <a class="navbar-brand" href="#">GOTY</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/goty" routerLinkActive="active"
          >Vote</a
        >
      </li>
    </ul>
  </div>
</nav>
